.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.Left {
    left: 0;
    background-color: white;
    text-align: center;
    font-size: 50px;
   
}

.Right {
    right: 0;
    background-color: #BACDDB;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
   
 
       
}

.centered style {
    width: 150px;
    border-radius: 100%;
   
  }
  /* .center{
    
    border-radius: 50%;
    width: 300px;
    position: absolute;
    left: 10px;
    top: 100px;
    z-index: 1;

  } */

h1 {
    color: rgb(30, 30, 77);
    
    
}

h2 {
    color: #B3005E;
    /* position: absolute;
    bottom: 20px;
    right: 16px; */
}


#form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    display: inline-block;
    padding: 15px;
    color: white;
    /* border:10px solid gold;  */
     background-color: #19A7CE;
    border-radius: 25px;
    font-size: 18px;
    height: auto;
    width: 60%;
    text-align: center;
    font-size: 40px;
    text-align: justify;
    text-justify: inter-word; 
    /* min-blend-mode: lighten;
} */
}
 
 input[type=text] {
    width: 50%;
    border-radius: 25px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 30px;

}


textarea {

    border-radius: 25px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 30px;


}

input[type=date] {

    width: 50%;
    border-radius: 25px;
    padding: 5px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 30px;

}

select{
    
        width: 50%;
        border-radius: 25px;
        padding:5px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 30px;
        
      
}
button[type=submit]{
    
        width: 100%;
        border-radius: 25px;
        padding:5px;
        margin: 8px 0;
        box-sizing: border-box;
        font-size: 30px;
    
        background-color:#5D9C59;
        
      
} 


table{
    border-collapse: collapse;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even){background-color:#FFF9DE}
 
table,th,td{
    border: 1px solid;
}
.delete{
    border-radius: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 20px;
    background-color:#ED2B2A ;
}
.update{
    border-radius:12px;
    width: 70px;
    padding:5px;
    box-sizing: border-box;
    font-size:20px ;
    background-color:#1d4574 ;
}
.button2{
    background-color: #ED2B2A;
    border-radius: 12px;
    width:70px;
    box-sizing: border-box;
    font-size: 20px;
    padding:5px ;
}


#forma{
    /* background-color:#FF8E9E ; */
  width:120px;
  padding: 10px;
  
}
#formb{
    /* background-color: #65bbd3; */
    width: 120px;
    padding: 10px;
}
#formc{
    /* background-color: #65bbd3; */
    width: 120px;
    padding: 10px;
}
#formd{
    /* background-color: #65bbd3; */
    width:120px;
    padding: 10px;

}


 /* .topcontainer{
    background-color:#FF597B;
    border: 1px solid red;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 100px;
  height: calc(100% - 100);
  width: 100%;
}
.bottomcontainer{
  background-color:#FF8E9E ; 
 
 position: absolute;
 bottom: 0px;
 left: 0px;
 height: 100px;
 width: 100%;
}  



   */